<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%C] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    https://stackoverflow.com/questions/1710476/how-to-print-a-query-string-with-parameter-values-when-using-hibernate-->
<!--    https://stackoverflow.com/questions/74862254/how-to-log-sql-statements-with-query-param-values-in-spring-boot-3-hibernate-6-->
    <logger name ="org.hibernate.orm.jdbc.bind" level = "trace"/>
    <logger name ="org.hibernate.SQL" level = "INFO"/>
    <logger name ="org.hibernate" level = "INFO"/>


    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>